<a href="https://colab.research.google.com/github/carloxx1/Tareas-y-ejercicios/blob/main/Array_junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
archivo = open( 'junio.dat', 'rt' , encoding='latin-1')
print(archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
class trbajador :
  def __init__( self , nt , nom , pat , mat , he ,  sb , ai):
    self.__numero_trabajador = nt
  

  def set_numero_trabajador( self , nt ):
    self.__numero_trabajador = nt

In [ ]:
class Nomina:
  def __init__( self , ruta_archivo ) :
    self.__data= Array ( num_emp )
  def calcular_sueldos( self ):


  def buscar_mas_antiguo( self ):

  def buscar_menor_antiguedad( self ):